<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
  <a class="navbar-brand">
    <img src="./../../../assets/new.jpg" style="border-radius: 25px;" width="30" height="30"
      class="d-inline-block align-top" alt="">
    My TODO App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active">Dashboard<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()">Logout({{userName}})</button>
    </span>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm m-2">
      <div class="card text-white bg-primary">
        <div class="card-header bg-dark">
          All users
        </div>
        <div class="watcher">
          <div *ngIf="allUsers">
            <div *ngFor="let user of allUsers">
              <div *ngIf="user.userId!=userId" class="m-2">
                <span class="text-capitalize">{{user.firstName}} {{user.lastName}}</span>
                <span style="float: right"><button class="btn btn-dark btn-sm" (click)="sendRequest(user)">Send
                    Request</button></span>
              </div>
            </div>
          </div>
          <div *ngIf="!allUsers || allUsers.length==0">
            No users found.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm m-2">
      <div class="card text-white bg-secondary">
        <div class="card-header bg-dark">
          Friend-Request
        </div>
        <div class="watcher">
          <div *ngIf="friendRequest.length">
            <div *ngFor="let user of friendRequest" class="m-2">
              <span class="text-capitalize">{{user.user1Name}} </span>
              <span style="float: right"><button class="btn btn-success btn-sm"
                  (click)="acceptRequest(user)">Confirm</button></span>
            </div>
          </div>
          <div *ngIf="!friendRequest || friendRequest.length==0">
            No friend-request.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm m-2">
      <div class="card text-white bg-success">
        <div class="card-header bg-dark">
          Friends
        </div>
        <div class="watcher">
          <div *ngIf="friends.length">
            <div *ngFor="let user of friends" class="m-2 clearfix">
              <span class="text-capitalize">{{user.friendName}} </span>
              <span class="float-right"><button class="btn btn-dark btn-sm" (click)="getFriendTodos(user)">View
                  TODO</button></span>
            </div>
          </div>
          <div *ngIf="!friends || friends.length==0">
            No friends.
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center" *ngIf="selectedFriend==null">
    <button class="btn btn-info btn-sm text-center " data-toggle="modal" data-target="#listModal">Create a new Todo
      list. Click here.</button>
    <button class="btn btn-warning btn-sm text-center ml-2 border border-dark" (click)="undo()">Undo change</button>
  </div>
  <div class="row justify-content-center" *ngIf="selectedFriend!=null">
    <button class=" btn btn-primary btn-sm text-center " (click)="getMyTodos()">Show my Todos.</button>
  </div>

  <br>

  <div class="row border border-dark p-2 m-2 text">
    <h3 class="text-capitalize">{{selectedFriend?selectedFriend.friendName+"'s Todos:":"My Todos:"}}</h3><br>
    <table class="table table-sm table-responsive-md ">
      <tbody>
        <ul class="list-group clearfix" *ngFor="let list of allLists">
          <li class="list-group-item border border-danger"
            style="background-color: rgb(86, 75, 184);color: white;margin-bottom: 1px;">{{list.listName}}
            <span class="float-right dropup">
              <i class="fa fa-ellipsis-v margin-button dropup-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
              <div class="dropdown-menu">
                <h6 class="dropdown-header">Actions</h6>
                <div class="dropdown-item" (click)="currentlySelected(list)" data-toggle="modal"
                  data-target="#addModal">Add item</div>
                <div class="dropdown-item" (click)="currentlySelected(list)" data-toggle="modal"
                  data-target="#exampleModalCenter">Edit list</div>
                <div class="dropdown-item" (click)="deleteList(list)">Delete list</div>
              </div>
            </span></li>
          <ul class="list-group clearfix" style="margin-left: 1rem;" *ngFor="let item of allItems">
            <span *ngIf="item.listId==list.listId">
              <li class="list-group-item  border border-info"
                style="background-color: rgb(54, 15, 128);color: white;margin-bottom: 1px;">{{item.itemName}}-<b class="margin-button">{{item.itemDone=='open'?'Open':'Done'}}</b>
                <span class="float-right">
                  
                  <i class="fa fa-ellipsis-v margin-button dropup-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></i>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-header">Actions</h6>
                    <div class="dropdown-item" (click)="currentlySelected(list,item)" data-toggle="modal"
                      data-target="#addModal">Add Subitem</div>
                    <div class="dropdown-item" (click)="currentlySelected(list,item)" data-toggle="modal"
                      data-target="#exampleModalCenter">Edit item</div>
                    <div class="dropdown-item" (click)="deleteItem(list,item)">Delete list</div>
                  </div>
                </span></li>
              <ul class="list-group clearfix" style="margin-left: 1rem;" *ngFor="let subItem of item.subItems">
                <li class="list-group-item border border-dark"
                  style="background-color: rgb(131, 21, 98);color: white;margin-bottom: 1px;">{{subItem.subItemName}}-<b class="margin-button">{{subItem.subItemDone=='open'?'Open':'Done'}}</b>
                  <span class="float-right">
                    
                    <i class="fa fa-ellipsis-v margin-button dropup-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false"></i>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-header">Actions</h6>
                      <div class="dropdown-item" (click)="currentlySelected(list,item,subItem)" data-toggle="modal"
                        data-target="#exampleModalCenter">Edit SubItem</div>

                      <div class="dropdown-item" (click)="deleteSubItem(list,item,subItem)">Delete SubItem</div>
                    </div>
                  </span></li>
              </ul>
            </span>
          </ul>
        </ul>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" autofocus name="toBeEditedText" [(ngModel)]="toBeEditedText">
        <div *ngIf="!isList" class="pt-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Status</label>
            </div>
            <select class="custom-select" name="mark" [(ngModel)]="mark" id="status">
              <option value='open'>Open</option>
              <option value='done'>Done</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-sm" (click)="update()">Update changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalTitle">Create list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" name="listName" [(ngModel)]="listName" type="text" placeholder="List name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-sm" (click)="createList()">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalTitle">Add this to your Todos.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" name="item_subitem" [(ngModel)]="item_subitem" type="text"
          placeholder="Enter something">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Dismiss</button>
        <button type="button" class="btn btn-success btn-sm" (click)="additem_subitem()">Add</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner size="large" color="#fff" type="ball-scale-ripple-multiple" [fullScreen]="true">
  <p style="color: white"> Waiting for network.. </p>
</ngx-spinner>