<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
  <a class="navbar-brand">
    <img src="./../../../assets/new.jpg" style="border-radius: 25px;" width="30" height="30"
      class="d-inline-block align-top" alt="">
    My TODO App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink='/dashboard'>Dashboard<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()">Logout({{userName}})</button>
    </span>
  </div>
</nav>
<div>
  <img src="./../../../assets/server.jpg" alt="server error" class="img-fluid rounded mx-auto d-block img-responsive">
  <h4 class="text-center">Redirecting you to the dashboard section...</h4>
</div>
