<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
  <a class="navbar-brand">
      <img src="./../../../assets/new.jpg" style="border-radius: 25px;" width="30" height="30" class="d-inline-block align-top" alt="">
    My TODO App  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink='/login'>Home<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="form-inline my-2 my-lg-0">
      <a class="nav-link" routerLink='/login'>Signin</a>
    </span>
  </div>
</nav>
<div class="row p-0 m-2">
  <div class="col-sm"></div>
  <div class="col-sm p-4 border border-dark">
    <h2 class="form-signin-heading">Sign Up To continue...</h2>
    <br>
    <span>FirstName: </span>
    <label for="inputFirstName" class="sr-only">FirstName</label>
    <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="firstName" placeholder="FirstName" required
      autofocus>
    <small id="emailHelp" class="form-text text-muted">*required.</small>
    <br>
    <span>LastName: </span>
    <label for="inputLastName" class="sr-only">LastName</label>
    <input type="text" id="inputLastName" class="form-control" [(ngModel)]="lastName" placeholder="LastName" required>
    <small id="emailHelp" class="form-text text-muted">*required.</small>
    <br>
    <span>Contact No: </span>
    <label for="inputMobile" class="sr-only">Contact No.</label>
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Country-code</label>
          <select id="inputState" [(ngModel)]="cc" name="cc" class="form-control">
            <option selected [value]="+91">+91</option>
            <option *ngFor="let c of countryCodes" [value]="c">{{c}}</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="inputZip">Number</label>
          <input type="number" class="form-control" [(ngModel)]="mobile" placeholder="Mobile" id="inputMobile">
        </div>
    </div>
    <small id="emailHelp" class="form-text text-muted">*required.</small>
    <br>
    <span>Email: </span>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required>
    <small id="emailHelp" class="form-text text-muted">*Enter valid email. We'll never share your email with anyone
      else.</small>
    <br>
    <span>Password: </span>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password"
      required>
    <small id="emailHelp" class="form-text text-muted">*required and must be 8-characters long.</small>
    <br>
    <button class="btn btn-lg btn-info btn-block" type="button" (click)="signupFunction()">Sign Up</button>
  </div>
  <div class="col-sm"></div>
</div>
<ngx-spinner></ngx-spinner>
